.quiz-header {
    background-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 1rem;
    color: white;
}

.quiz-header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

.quiz-header p {
    font-size: 25px;
    opacity: 0.8;
}